GEMINI_API_KEY_BASE="YOUR-GEMINI-API-KEY"
# works also directly with groq free tier keys
SECRET_OPENAI_API_KEY_BASE="YOUR-OPENAI-API-KEY"
# not required for the homework (API for web search)
SECRET_TAVILY_API_KEY_BASE="YOUR-TAVILY-API-KEY"


